*{
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    background-color: rgb(255, 244, 196, 0.1 );
    
}
.product{
    margin-top: 20px;
}
.productimage{
    width: 380px;
    border-radius: 10px;
}
.DesertsAdd-to-cart{
    display: flex;
    justify-content: space-between;
}
.DesertsAdd-to-cart img {
    width: 30px;
}
.container{
     width: 400px;
    height: 400vh;
    padding: 10px;
}
   button{
    width: 30px;
    box-shadow: none;
    color: red; 
    outline: none;
    font-size: x-large;
   
   
   }
   img{
    width: 19px;
   }
   span{
    text-align: center;
    align-items: center;
   }
   p{
    font-family: sans-serif;
    font-weight: bolder;
    color: brown;
    margin-top: 5px;
   }
   .price{
    color: red;
   }
   h2{
    font-family:'Arial Narrow Bold', sans-serif;
   }
   h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   .total{
    margin-top: 30px;
   
   }
   @media only screen and (min-width: 1024px) {
    /* Your desktop styles go here */
    body {
        background-color: lightblue;
       
    }
    
    .container {
      
     
    
       
    }
    
    h1 {
        font-size: 2.5em;
    }
    #cart{
        display: grid;
        grid-template-columns: repeat(3, 9fr)
    }
   }